*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'JetBrains Mono', monospace;
}

html {
	scroll-behavior: smooth;
}

section{ /* Bom exemplo de como centralizar um texto/div dentro de um container. (100vh serve para tela inteira) */
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	text-align: center;
}

.sectionRed{
	background: rgb(17,17,17);
	background: linear-gradient(90deg, rgba(17,17,17,1) 34%, rgba(92,0,0,1) 80%, rgba(186,6,6,1) 100%);
}

.sectionBlue{
	background: rgb(17,17,17);
	background: linear-gradient(266deg, rgba(17,17,17,1) 34%, rgba(9,0,92,1) 80%, rgba(5,11,173,1) 100%);
}

body {
	background-color: rgba(17,17,17,1);
	animation: fade 2s;
	-ms-overflow-style: none;
  	scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}

.container .textcontainer{
	color: #ffffff;
	line-height: 250%;
}

.container .textcontainer .title{
	font-size: 150%;
	font-weight: bold;
	transition: 1s;
}

.container .textcontainer #title1:hover{
	transform: scale(1.2);
	margin-bottom: 10%;
}

.container .textcontainer .subtitle{
	font-size: 130%;
	font-weight: 550;
	transition: 1s;
}

.container .textcontainer .text{
	transition: 1s;
}

.container .textcontainer #text1:hover{
	transform: scale(2);
	margin-top: 10%;
}

.container .textcontainer .arrow{
	position: absolute;
	top:85%;
	right: 48.1%;
	font-size: 500%;
	text-shadow: 0 0 10px white;

}

.container .textcontainer .arrow a {
	color: #ffffff;
}

.container .textcontainer .arrow:hover{
	text-shadow: 0 0 20px white;
}

.container .textcontainer .text2{
	padding: 2%;
	background-color: rgba(250,250,250,0.2);
	border-radius: 25px;
	margin: 2%;
	box-shadow: 0 0 10px rgba(250,250,250,0.2);
}

#section3 .container{
	position: relative;
	height: 100%;
	width: 100%;
}

.arrowright{
	position: absolute;
	margin-top: auto;
	margin-bottom: auto;
	right: 20%;
	font-size: 500%;
	text-shadow: 0 0 10px white;
	animation: fade2 3s;
}

.arrowright:hover{
	text-shadow: 0 0 20px white;
}

.arrowright a {
	color: #ffffff;
}

@keyframes fade{
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;		
	}
}