*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'JetBrains Mono', monospace;
}

body{
	background-color: #fa7357;
	transition: background 1s ease;
	animation: fade 2s;
}

.body-transition{
	background-color: #ffffff;
}

section{
	height: 100vh;
	max-width: 100vw;
}

.content{
	height: 100%;
	width: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	cursor: default;
}

h1{
	margin-bottom: 20px;
}

p{
	width: 30%;
}

#box{
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin-top: 20px;
	width: 35%;
	height: 50%;
	background-color: #fa7357;
	transition: box-shadow 2s ease;
}

#box:hover{
	box-shadow: 0 0 25px grey;
}

.box-shadow{
	box-shadow: 0 0 10px grey;
}

.arrow{
	position: absolute;
	right: 20%;
	font-size: 500%;
	text-shadow: 0 0 10px grey;
	transition: 300ms;
}

.arrow:hover{
	text-shadow: 0 0 20px grey;
}

.arrow a {
	color: #fa7357;
}

@keyframes fade{
	0%{
		background-color: black;
		opacity: 0;
	}
	100%{
		opacity: 1;		
	}
}